## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [1]:
import pandas as pd

In [3]:
# загружаем датасет
data = pd.read_csv("./data/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [6]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [10]:
data[data['sex'] == 'Male']['age'].mean()

39.43354749885268

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [18]:
data[data['native-country'] == 'United-States'].count()[0] / data.count()[0]

0.895857006848684

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [32]:
data[data['salary'] == '>50K'].describe().loc[['mean', 'std']]['age'],\
data[data['salary'] == '<=50K'].describe().loc[['mean', 'std']]['age']

(mean    44.249841
 std     10.519028
 Name: age, dtype: float64,
 mean    36.783738
 std     14.020088
 Name: age, dtype: float64)

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [51]:
data[(data['education'] == 'Bachelors') | (data['education'] == 'Prof-school') | (data['education'] == 'Assoc-acdm') | (data['education'] == 'Assoc-voc') | (data['education'] == 'Masters') | (data['education'] == 'Doctorate')].index

Int64Index([    0,     1,     4,     5,     8,     9,    11,    12,    13,
               14,
            ...
            32539, 32543, 32544, 32545, 32546, 32548, 32552, 32553, 32554,
            32556],
           dtype='int64', length=10516)

In [65]:
with_education = data[data['education'].apply(lambda x: x in ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate'])].index
with_good_salary = data[data['salary'] == '>50K'].index

if with_education.__len__() != with_good_salary.__len__():
    print("It's not true")
else:
    if not (with_education == with_good_salary).all():
        print("It's not true")
    else:
        print("It's true")

It's not true

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [68]:
data.groupby('race').describe()['age']

,count,mean,std,min,25%,50%,75%,max
race,,,,,,,,
Amer-Indian-Eskimo,311.0,37.173633,12.447130,17.0,28.0,35.0,45.5,82.0
Asian-Pac-Islander,1039.0,37.746872,12.825133,17.0,28.0,36.0,45.0,90.0
Black,3124.0,37.767926,12.759290,17.0,28.0,36.0,46.0,90.0
Other,271.0,33.457565,11.538865,17.0,25.0,31.0,41.0,77.0
White,27816.0,38.769881,13.782306,17.0,28.0,37.0,48.0,90.0

In [69]:
data.groupby('sex').describe()['age']

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [71]:
data.groupby('race').describe()['age']['max']['Asian-Pac-Islander']

90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [88]:
proc_married = data[(data['salary'] == '>50K') & (data['marital-status'].str.contains('Married')) & (data['sex'] == 'Male')].count()[0] /\
    data[(data['marital-status'].str.contains('Married')) & (data['sex'] == 'Male')].count()[0]
proc_married, data[(data['marital-status'].str.contains('Married'))].count()[0]

(0.4405139945351156, 15417)

In [89]:
proc_not_married = data[(data['salary'] == '>50K') & ~(data['marital-status'].str.contains('Married')) & (data['sex'] == 'Male')].count()[0] /\
    data[~(data['marital-status'].str.contains('Married')) & (data['sex'] == 'Male')].count()[0]
proc_not_married, data[~(data['marital-status'].str.contains('Married'))].count()[0]

(0.08449509031397745, 17144)

In [91]:
if proc_married > proc_not_married:
    print('Proccente of married man less then not married man')
elif proc_married < proc_not_married:
    print('Proccente of not married man less then married man')
else:
    print("It's imposible but proccente is equal")

Proccente of married man less then not married man

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [95]:
data['hours-per-week'].max()

99

In [98]:
data[data['hours-per-week'] == data['hours-per-week'].max()].count()[0]

85

In [104]:
data[(data['hours-per-week'] == data['hours-per-week'].max()) & (data['salary'] == '>50K')].count()[0] / data[data['hours-per-week'] == data['hours-per-week'].max()].count()[0]

0.29411764705882354

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [111]:
data[(data['salary'] == '>50K')].groupby('native-country').mean()[['hours-per-week']]

                    hours-per-week
native-country
?                        45.547945
Cambodia                 40.000000
Canada                   45.641026
China                    38.900000
Columbia                 50.000000
Cuba                     42.440000
Dominican-Republic       47.000000
Ecuador                  48.750000
El-Salvador              45.000000
England                  44.533333
France                   50.750000
Germany                  44.977273
Greece                   50.625000
Guatemala                36.666667
Haiti                    42.750000
Honduras                 60.000000
Hong                     45.000000
Hungary                  50.000000
India                    46.475000
Iran                     47.500000
Ireland                  48.000000
Italy                    45.400000
Jamaica                  41.100000
Japan                    47.958333
Laos                     40.000000
Mexico                   46.575758
Nicaragua                37.500000
Peru                     40.000000
Philippines              43.032787
Poland                   39.000000
Portugal                 41.500000
Puerto-Rico              39.416667
Scotland                 46.666667
South                    51.437500
Taiwan                   46.800000
Thailand                 58.333333
Trinadad&Tobago          40.000000
United-States            45.505369
Vietnam                  39.200000
Yugoslavia               49.500000

In [112]:
data[(data['salary'] == '<=50K')].groupby('native-country').mean()[['hours-per-week']]

                            hours-per-week
native-country
?                                40.164760
Cambodia                         41.416667
Canada                           37.914634
China                            37.381818
Columbia                         38.684211
Cuba                             37.985714
Dominican-Republic               42.338235
Ecuador                          38.041667
El-Salvador                      36.030928
England                          40.483333
France                           41.058824
Germany                          39.139785
Greece                           41.809524
Guatemala                        39.360656
Haiti                            36.325000
Holand-Netherlands               40.000000
Honduras                         34.333333
Hong                             39.142857
Hungary                          31.300000
India                            38.233333
Iran                             41.440000
Ireland                          40.947368
Italy                            39.625000
Jamaica                          38.239437
Japan                            41.000000
Laos                             40.375000
Mexico                           40.003279
Nicaragua                        36.093750
Outlying-US(Guam-USVI-etc)       41.857143
Peru                             35.068966
Philippines                      38.065693
Poland                           38.166667
Portugal                         41.939394
Puerto-Rico                      38.470588
Scotland                         39.444444
South                            40.156250
Taiwan                           33.774194
Thailand                         42.866667
Trinadad&Tobago                  37.058824
United-States                    38.799127
Vietnam                          37.193548
Yugoslavia                       41.600000

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [131]:
data['AgeGroup'] = data['age'].mask((data['age'] > 16) & (data['age'] < 35), 'young')\
    .mask((data['age'] >= 35) & (data['age'] < 70), 'adult')\
    .mask((data['age'] >= 70) & (data['age'] < 100), 'retiree')\
    .mask((data['age'] >= 100), 'almost dead')
data['AgeGroup']

0        adult
1        adult
2        adult
3        adult
4        young
         ...
32556    young
32557    adult
32558    adult
32559    young
32560    adult
Name: AgeGroup, Length: 32561, dtype: object

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [136]:
data[data['salary'] == '>50K'].groupby('AgeGroup').count()['age']

AgeGroup
adult      6240
retiree     113
young      1488
Name: age, dtype: int64

In [147]:
data[data['salary'] == '>50K'].groupby('AgeGroup').count()['age'][data[data['salary'] \
                                == '>50K'].groupby('AgeGroup').count()['age'] \
                                            == data[data['salary'] == '>50K'].groupby('AgeGroup').count()['age'].max()].index

Index(['adult'], dtype='object', name='AgeGroup')

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [193]:
data.groupby('occupation').count()['age']

occupation
?                    1843
Adm-clerical         3770
Armed-Forces            9
Craft-repair         4099
Exec-managerial      4066
Farming-fishing       994
Handlers-cleaners    1370
Machine-op-inspct    2002
Other-service        3295
Priv-house-serv       149
Prof-specialty       4140
Protective-serv       649
Sales                3650
Tech-support          928
Transport-moving     1597
Name: age, dtype: int64

In [190]:
data.groupby('occupation').filter(lambda x: (x['age'].mean() > 40) & (x['hours-per-week'] >= 5).all())\
    .groupby('occupation').count().index

Index(['Transport-moving'], dtype='object', name='occupation')